{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static '/css/forget.css' %}">
    </head>
    <body>
        
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
              <div class="d-flex justify-content-end">
                <a class="navbar-brand" href="#"><i class="bi bi-house-fill" style="margin-left:10vh;color:red"></i></a>
              </div>
            </div>
        </nav>
        <div id="outer">
            <!-- to set background -->
            <div id="inner">
                <!-- content to srrsnge in center -->
                <div id="headers">
                    <h2>Forget Password</h2>
                    <!-- this section is used for headings -->
                </div>
                   <!-- for result-->
                <div class="px">
                    <p id="text"></p>
                    <h2 id="hed"></h2>
                </div>
                <div id="body">
                    <div class="fld" id="frm">
                        <form action="" method="POST">
                            {% csrf_token %}
                            <div>
                                {% for message in messages %}
                                <h3 class="text">{message}</h3>
                                {% endfor %}
                            </div>
                            <!-- user interaction section -->
                            <div class="input1">
                                <input id="email" name="email" type="Email" placeholder="email" onchange="validemail()" required>
                            </div>
                            <div class="input1">
                                <input id="pass1" name="password" type="password" placeholder="password" onchange="validpass()">
                            </div>
                            <div class="input1">
                                <input id="pass2" name="password2" type="password" placeholder="Re-enter password" onchange="validpassconform()">
                            </div><hr>
                            <div class="input1" id="buton">
                                <input type="submit" value="submit" id="signup">
                            </div>
                        </form>                   
                    </div>
                </div>
            </div>
        </div>
        
        <script src="{% static '/js/forget.js' %}"></script>
    </body>
</html>